*.aux
*.bbl
*.blg
*.log
*.out
*.fdb_latexmk
*.fls
*.gz
*.bcf
*.json
*.jsonl
diversevul_file.json
diversevul_raw.json
databases/
venv/
/Users/drewbevington/content/school/spring25/ml/final_project/code/mistral/Mistral-7B-v0.1/
